# Configuration
LOCATION="northeurope"
SUBSCRIPTION_ID="XXXXXXXX-XXX-XXX-XXX-XXXXXXXXXXXX"

RESOURCE_GROUP="time-management-apps-rg"

KEY_VAULT_NAME="time-management-vault"
# UPN="<your-email>"

POSTGRES_SERVER="time-turner-postgre"
POSTGRES_ADMIN="adminturner"
DB_NAME="time-management-psql"
FIREWALL_RULE_NAME="ClientAccess-psql"
CLIENT_IP="XXX.XXX.XXX.XXX"

STORAGE_ACCOUNT="timemanagementsac"
STORAGE_CONTAINER="reports"

REPORT_VM="time-management-report-vm"
REPORT_SSH_KEY="time-management-report-vm-key"
APP_VM="time-management-app-vm"
APP_SSH_KEY="time-management-app-vm-key"
VM_ADMIN="tmadmin"
